<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Webpack Preact Typescript SASS</title>
<%= require('./partials/ie-settings.ejs')() %>
<!-- css -->
</head>
<body>
<!-- app -->
<div id="root"></div>
<!-- javascript -->
</body>
</html>