@import '~scss/tools'; // tools, mixins, functions & variables
@include reset; // reset elements within scope

html, body {
	padding:0;
	margin:0;
}

* {
	box-sizing: border-box;
}

%root {
	@include font-smoothing; // smooth fonts within scope

	font-size: 14px;
	margin: 0 auto;
	padding: 0;
}
